{
    "presets": [
        [
            "next/babel",
            {
                "transform-runtime":
                {
                    "useESModules": false
                }
            }
        ],
    ],
    "plugins": [
        ["module-resolver",
        {
            "alias":
            {
                "~": "./",
                "@template": "./components/default",
                "@user": "./lib/middleware",
                "@db": "./lib/db/functions",

                "@template/pages": "@template/Pages",
                "@admin": "./components/default/Admin",
                "@admin-forms": "@template/Products/Page",
                "@hooks": "./hooks",
                "@middleware": "./lib/middleware"
            }
        }]
    ]
}